@charset "UTF-8";

/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, figure, img, fieldset,
a, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, small, strong, dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td{
	padding:0;
	border:none;
	outline:none;
	font-size:10;
	margin-left:auto;
	margin-right:auto;
	background-color:#B6222F;
	width:300px; 
}



header,hgroup,nav,article,
section,aside,figure,footer{
	
}

ol, ul{
	list-style: none;  
}

html{
    font:14px/1.3 "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "ＭＳ ゴシック", Arial, Helvetica, Tahoma, sans-serif;
}



/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/


body{
	color:#333631;
	background-repeat: no-repeat;
}

/*	リンクタグ	*/

a,
a:hover{
	color:#333631;
	text-decoration:none;
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
header{
	width:100%;
	overflow:hidden;
}

/*	タイトル	*/
/*#top h1{
	background:url(../img/header_bg.gif) repeat-x;
	ackground-image:-moz-linear-gradient(top, #434641, #292b27);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#434641), to(#292b27));
	background-image:-o-linear-gradient(top, #434641, #292b27);
	background-image:linear-gradient(top, #434641, #292b27);
	width:100%;
	padding:3% 10px;
	border-bottom:solid 1px #11120F;
	color:#FFF;
	text-shadow:1px 1px 1px #11120F;
}
*/

/*------------------------------------------------------------
	カテゴリ
------------------------------------------------------------*/
article{
	width:100%;
	overflow:hidden;
}

/*---------------------
	カテゴリタイトル
--------------------*/
article .title h2{
	background-image: -moz-linear-gradient(top, #fdfdfd, #d5d6d4);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), to(#d5d6d4));
	background-image: -o-linear-gradient(top, #fdfdfd, #d5d6d4);
	background-image: linear-gradient(top, #fdfdfd, #d5d6d4);
	padding:0;
	margin:0;
	border:solid 1px #9CA695;
	border-top:solid 1px #D7E5CF;
	text-shadow:1px 1px 1px #FFF;}

/*---------------------
	カテゴリボディ
--------------------*/
article section{

}

article section:nth-child(even){
	background-image: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#f8f8f8), to(#f2f2f2));
	background-image: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
	background-image: linear-gradient(top, #f8f8f8, #f2f2f2);
	border:solid 0;
	border-color:#FFF transparent #D7E5CF;
}

article section:nth-child(odd){
	background-image: -moz-linear-gradient(top, #ececec, #d9d9d9);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ececec), to(#d9d9d9));
	background-image: -o-linear-gradient(top, #ececec, #d9d9d9);
	background-image: linear-gradient(top, #ececec, #d9d9d9);
	border:solid 0px;
	border-color:#FFF transparent #D7E5CF;
}

article section a{
	background:url(../img/link_icon.png) no-repeat right center;
	padding-right:0;
	display:block;
	overflow:hidden;
}

/*	カテゴリ画像　*/
article section a figure{
	width:35%;
	margin-right:10px;
	overflow:hidden;

	border:solid 0px #9CA695;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	float:left;}

article section a figure img{
	background:#9CA695;
	width:100%;
	margin-bottom:-4.5%;

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;}

@media screen and (min-width:480px) {
	article section a figure{
		padding-bottom:0;
	}
}

/*	カテゴリ画像の説明文字　*/
article section a h2{
	width:60.5%;
	color:#9CA695;
	float:right;
}

article section a p{
	width:60.5%;
	float:right;
}

/*	トップに戻る　*/
p.go_top{
	text-align:right;}

p.go_top a{
	margin-right:5px;
	padding:5% 15px 5% 0;
	display:block;
	color:#9CA695;
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
/*	フリースペース　*/
.free_space{
	padding:3% 10px;
	border:dotted #D7E5CF;
	border-width:1px 0;
}

.free_space img{
	margin:auto;
	display:block;
	border:solid 1px #333631;
}

/*	メニュー　*/
footer ul{
	padding:4% 0;
	overflow:hidden;
}

footer ul li{
	width:20%;
	margin:2% 2.5% 2% 2.5%;
	float:left;
}

footer ul li a{
	padding:1.4em 0;
	display:block;
	color:#D7E5CF;
	border:solid 1px #A3AB9D;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-align:center;
	-moz-box-shadow:0px 0px 0px 1px #333631;
	-webkit-box-shadow:0px 0px 0px 1px #333631;
	box-shadow:0px 0px 0px 1px #333631;
	background-image: -moz-linear-gradient(top, #b0b9ab, #7f8b78);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#b0b9ab), to(#7f8b78));
	background-image: -o-linear-gradient(top, #b0b9ab, #7f8b78);
	background-image: linear-gradient(top, #b0b9ab, #7f8b78);
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/*	コピーライト　*/
address{
	padding:3% 0;
	border-top:dotted 1px #333631;
}

address p{
	font-size:0.714em;
	text-align:center;}




button {
    width: 300px;
    padding:0;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}
