html {
    height: 100%
}
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
}
#map_canvas {
    height: 100%;
    width: 100%;
}
#currymeter{ 
    position: absolute;
    height: auto;
    width: 120px;
    bottom: 85px;
    right: 0px;
}

player{  
    position: absolute;
    bottom: 0px;
    right: 0px;
}
